# Introdução Python para DS

Seção de introdução a python e algumas de suas principais ferramentas para Data Science e ML. Tutorial baseado em:



*   [Tutorial do curso cs231n de Stanford](https://colab.research.google.com/github/cs231n/cs231n.github.io/blob/master/python-colab.ipynb#scrollTo=dM23yGH9L9ja)
*   [Quick Primer on Colab/Jupyter notebook](https://colab.research.google.com/github/google/picatrix/blob/main/notebooks/Quick_Primer_on_Colab_Jupyter.ipynb#scrollTo=aevt-b6Es2W1)
*   [Python Data Science Handbook, capítulos 2 - 4](https://github.com/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/)
*   [Exploratory data analysis in Python.](https://colab.research.google.com/github/Tanu-N-Prabhu/Python/blob/master/Exploratory_data_Analysis.ipynb#scrollTo=TOvht7vqQGdR)

## Básicos

### Checando a versão que estamos usando

In [ ]:
!python --version

Python 3.12.12

### Tipos de dados

#### Números

In [ ]:
x = 3
print(x, type(x))

3 <class 'int'>

In [ ]:
print(x + 1)
print(x - 1)
print(x * 2)
print(x ** 2)

4
2
6
9

In [ ]:
y = 2.5

print(type(y))


print(y + 1)
print(y - 1)
print(y * 2)
print(y ** 2)

<class 'float'>
3.5
1.5
5.0
6.25

#### Boleano

In [ ]:
t = True
f = False

print(type(t))

<class 'bool'>

In [ ]:
print(t and f) # Logical AND;
print(t or f)  # Logical OR;
print(not t)   # Logical NOT;
print(t != f)  # Logical XOR;

False
True
False
True

#### Texto (String em inglês)

In [ ]:
hello = 'hello'
world = "world"
print(hello, len(hello))

hello 5

In [ ]:
hw = hello + ' ' + world
print(hw)

hello world

In [ ]:
print(f"{hw} 12")

hello world 12

In [ ]:
s = "hello"
print(s.capitalize())
print(s.upper())
print(s.rjust(7))
print(s.center(7))
print(s.replace('l', '(ell)'))
print('  world '.strip())

Hello
HELLO
  hello
 hello
he(ell)(ell)o
world

### Containers

#### Listas

In [ ]:
xs = [3, 1, 2]

print(xs, xs[2])
print(xs[-1])

[3, 1, 2] 2
2

In [ ]:
xs[2] = 'foo'
print(xs)

[3, 1, 'foo']

In [ ]:
xs.append('bar')
print(xs)

[3, 1, 'foo', 'bar']

In [ ]:
x = xs.pop()
print(x, xs)

bar [3, 1, 'foo']

##### Slicing

In [ ]:
nums = list(range(5))

print(nums)
print(nums])
print(nums[2:])[2:4
print(nums[:2])
print(nums[:])
print(nums[:-1])

nums[2:4] = [8, 9]
print(nums)

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (ipython-input-2071981193.py, line 4)

#### Dicionários

In [ ]:
d = {'cat': 'cute', 'dog': 'furry'}

print(d['cat'])

print('cat' in d)

In [ ]:
d['fish'] = 'wet'

print(d['fish'])

In [ ]:
print(d)

In [ ]:
print(d['cat'])

### Manipular variáveis

#### Loops

In [ ]:
animals = ['cat', 'dog', 'monkey']

for animal in animals:
    print(animal)

In [ ]:
animals = ['cat', 'dog', 'monkey']

for idx, animal in enumerate(animals):
    print(f'#{idx + 1}: {animal}')

#### List comprehensions

In [ ]:
nums = [0, 1, 2, 3, 4]

squares = []
for x in nums:
    squares.append(x ** 2)

print(squares)

Pode-se subistituir o código a cima por:

In [ ]:
squares_comprehension = [x ** 2 for x in nums]

print(squares_comprehension)

Adicionando condicionais a list comprehension

In [ ]:
nums = [0, 1, 2, 3, 4]

even_squares = [x ** 2 for x in nums if x % 2 == 0]

print(even_squares)

#### Funções

In [ ]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 4]:
    print(sign(x))

In [ ]:
def hello(name, loud=False):

  if loud:
      print(f'HELLO, {name.upper()}')
  else:
      print(f'Hello, {name}!')

hello('Bob')
hello('Fred', loud=True)

## Numpy

Um array numpy é uma grade de valores, todos do mesmo tipo, e é indexado por uma tupla de inteiros não negativos. O número de dimensões é a classificação do array; o formato de um array é uma tupla de inteiros que fornece o tamanho do array ao longo de cada dimensão.

Podemos inicializar arrays numpy a partir de listas Python aninhadas e acessar elementos usando colchetes:

In [ ]:
import numpy as np

np.__version__

In [ ]:
a = np.array([1, 2, 3])

print(type(a), a.shape, a[0], a[1], a[2])

a[0] = 5

print(a)

In [ ]:
b = np.array([[1,2,3], [4,5,6]])

print(b)

In [ ]:
print(b.shape)

print(b[0, 0], b[0, 1], b[1, 0])

O Numpy também fornece muitas funções para criar matrizes:

In [ ]:
a = np.zeros((2,2))
print(a)

In [ ]:
b = np.ones((1,2))

print(b)

### Indexação de arrays

Slicing: Similar às listas Python, arrays numpy podem ser fatiados. Como arrays podem ser multidimensionais, você deve especificar uma fatia para cada dimensão do array:

In [ ]:
a = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

b = a[:2, 1:3]

print(b)

Boolean array indexing: A indexação de array booleano permite que você escolha elementos arbitrários de um array. Frequentemente, esse tipo de indexação é usado para selecionar os elementos de um array que satisfazem alguma condição. Aqui está um exemplo:

In [ ]:
a = np.array([[1, 2], [3, 4], [5, 6]])

bool_idx = (a > 2)

print(bool_idx)

In [ ]:
print(a[bool_idx])

print(a[(a > 2)])

In [ ]:
idade_usuarios = np.array([10, 20, 30, 21, 34, 50, 70])

tempo_uso_plataforma = np.array([3, 6, 9, 12, 15, 18, 21])

In [ ]:
usuario_maior_trinta = idade_usuarios > 30

np.mean(tempo_uso_plataforma[usuario_maior_trinta])

In [ ]:
tempo_total_uso = 0
quantidade_usuarios = 0

for usuario, idade in enumerate(idade_usuarios):
    if idade > 30:
        tempo_total_uso = tempo_total_uso + tempo_uso_plataforma[usuario]
        quantidade_usuarios = quantidade_usuarios + 1

tempo_total_uso / quantidade_usuarios

## Matplotlib

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
x = np.arange(0, 3 * np.pi, 0.1)
y = np.sin(x)


plt.plot(x, y)

plt.show()

Com apenas um pouco de trabalho extra, podemos facilmente plotar várias linhas de uma vez e adicionar um título, legenda e rótulos de eixo:

In [ ]:
y_sin = np.sin(x)
y_cos = np.cos(x)

plt.plot(x, y_sin)
plt.plot(x, y_cos)

plt.xlabel('x axis label')
plt.ylabel('y axis label')

plt.title('Sine and Cosine')
plt.legend(['Sine', 'Cosine'])

plt.show()

### Subplots

In [ ]:
x = np.arange(0, 3 * np.pi, 0.1)
y_sin = np.sin(x)
y_cos = np.cos(x)


plt.subplot(2, 1, 1)
plt.plot(x, y_sin)
plt.title('Sine')

plt.subplot(2, 1, 2)
plt.plot(x, y_cos)
plt.title('Cosine')


plt.show()

## Pandas

Vamos falar sobre o Python Pandas. A maior diferença entre o Pandas e o Numpy é que o Pandas foi projetado para trabalhar com dados tabulares, pense mais em uma planilha ou banco de dados.

O Pandas define duas estruturas de dados principais, *Series* e *DataFrame*. *Séries* é um objeto unidimensional do tipo array contendo uma sequência de valores. Um exemplo pode ser:

In [ ]:
import pandas as pd

#### Series

In [ ]:
pd.Series(['a', 'b', 'c', 'd', 'e'])

*Séries* também podem ter índices ou rótulos anexados a cada valor (onde eles são quase semelhantes a um dicionário)

In [ ]:
ser = pd.Series(['a', 'b', 'c', 'd', 'e'], index=['foo', 'bar', 'more', 'note', 'extra'])

ser

Agora você pode acessar cada objeto usando a notação de ponto ou colchetes

In [ ]:
ser.foo

In [ ]:
ser['foo']

Também podemos converter um objeto de série em um dict ou criar um objeto de série a partir de um dict:

In [ ]:
ser.to_dict()

#### Dataframe

Um DataFrame, que é o objeto com o qual você pode trabalhar mais, é uma tabela retangular de dados e contém uma coleção ordenada de colunas. Você pode pensar nisso como um dict de Series, todos compartilhando o mesmo índice.

In [ ]:
lines = [
    {'Important': True, 'Value': 1345, 'Notes': 'Stuff IS Stuff'},
    {'Important': True, 'Value': 23, 'Notes': 'This does not contain any word...'},
    {'Important': True, 'Value': 523, 'Notes': 'We have a lot of text in here, including stuff'},
    {'Important': False, 'Value': 100, 'Notes': 'Here is a word that sounds like stuff but is in fact soooo much longer'},
]

df = pd.DataFrame(lines)

In [ ]:
df.head()

In [ ]:
df.shape

Também podemos apenas olhar para o valor de uma única coluna:

In [ ]:
df['Value']

Existem 2 maneiras principais de recuperar subconjuntos de um dataframe:

+ `.iloc[]`
+ `.loc[]`

`.loc` é baseado em **rótulo**.
`.iloc` é baseado em **posição**.

Ambos podem ser usados ​​de 5 maneiras diferentes:

1. Linha única
2. Lista de linhas
3. Fatia
4. Máscara booleana
5. Uma função (fornecendo o dataframe como entrada), que retorna qualquer um dos 4 acima

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[0:2]

In [ ]:
df.loc[0:1, 'Value']

### Como ler dados

Uma das partes mais importantes do uso do pandas é ler os dados. Se você não tem dados, é difícil trabalhar com eles.

O Pandas fornece um monte de métodos para obter dados, desde conectar-se a bancos de dados SQL até planilhas e CSVs

In [ ]:
import csv

with open('/tmp/foobar.csv', 'w') as fw:
  writer = csv.writer(fw)
  writer.writerow(['First', 'Second', 'Third'])
  writer.writerow([1, 2, 4])
  writer.writerow([5, 3, 2])
  writer.writerow([1, 3, 0])

In [ ]:
df = pd.read_csv(filepath_or_buffer='/tmp/foobar.csv')

df

# EDA

**O que é Análise Exploratória de Dados?**

A Análise Exploratória de Dados ou (EDA) é entender os conjuntos de dados resumindo suas principais características, geralmente plotando-os visualmente. Esta etapa é muito importante, especialmente quando chegamos à modelagem dos dados para aplicar o aprendizado de máquina. A plotagem em EDA consiste em histogramas, diagramas de caixa, diagramas de dispersão e muito mais. Geralmente, leva muito tempo para explorar os dados. Por meio do processo de EDA, podemos pedir para definir a declaração do problema ou definição em nosso conjunto de dados, o que é muito importante.

**Como executar a Análise Exploratória de Dados?**

Esta é uma dessas perguntas que todos estão interessados ​​em saber a resposta. Bem, a resposta é que depende do conjunto de dados em que você está trabalhando. Não há um método ou métodos comuns para executar EDA, enquanto neste tutorial você pode entender alguns métodos e gráficos comuns que seriam usados ​​no processo de EDA.

**Quais dados estamos explorando hoje?**

Como sou um grande fã de carros, obtive um conjunto de dados muito bonito de carros do Kaggle. O conjunto de dados pode ser baixado [aqui](https://www.kaggle.com/CooperUnion/cardataset). Para dar uma breve informação sobre o conjunto de dados, esses dados contêm mais de 10.000 linhas e mais de 10 colunas que contêm características do carro, como Tipo de combustível do motor, HP do motor, Tipo de transmissão, MPG na rodovia, MPG na cidade e muito mais. Então, neste tutorial, exploraremos os dados e os deixaremos prontos para modelagem.

### Caregando os dados

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("CooperUnion/cardataset")

print("Path to dataset files:", path)

In [ ]:
df = pd.read_csv(path+"/data.csv")

df.head(5)

In [ ]:
df.dtypes

### Deletando colunas

Esta etapa é certamente necessária em cada EDA porque às vezes haveria muitas colunas que nunca usamos, em tais casos, descartar é a única solução. Neste caso, as colunas como Tipo de combustível do motor, Categoria de mercado, Estilo do veículo, Popularidade, Número de portas, Tamanho do veículo não fazem sentido para mim, então eu apenas descartei para esta instância.

In [ ]:
df = df.drop(['Engine Fuel Type', 'Market Category', 'Vehicle Style', 'Popularity', 'Number of Doors', 'Vehicle Size'], axis=1)

df.head(5)

### Renomeando colunas

In [ ]:
df = df.rename(columns={"Engine HP": "HP", "Engine Cylinders": "Cylinders", "Transmission Type": "Transmission", "Driven_Wheels": "Drive Mode","highway MPG": "MPG-H", "city mpg": "MPG-C", "MSRP": "Price" })

df.head(5)

### Deletando linhas duplicadas

Isso geralmente é algo útil de se fazer porque um conjunto de dados enorme como neste caso contém mais de 10.000 linhas frequentemente tem alguns dados duplicados que podem ser perturbadores, então aqui eu removo todos os valores duplicados do conjunto de dados. Por exemplo, antes de remover eu tinha 11914 linhas de dados, mas depois de remover as duplicatas 10925 dados, o que significa que eu tinha 989 de dados duplicados.

In [ ]:
df.shape

In [ ]:
duplicate_rows_df = df[df.duplicated()]
print("number of duplicate rows: ", duplicate_rows_df.shape)

In [ ]:
df.count()

In [ ]:
df = df.drop_duplicates()

df.count()

### 9. Plot different features against one another (scatter), against frequency (histogram)

#### Histogram

Histograma se refere à frequência de ocorrência de variáveis ​​em um intervalo. Neste caso, há principalmente 10 tipos diferentes de empresas fabricantes de automóveis, mas geralmente é importante saber quem tem o maior número de carros. Fazer este histograma é uma das soluções triviais que nos permite saber o número total de carros fabricados por uma empresa diferente.

In [ ]:
df.Make.value_counts().nlargest(40).plot(kind='bar', figsize=(10,5))
plt.title("Number of cars by make")
plt.ylabel('Number of cars')
plt.xlabel('Make');

#### Scatterplot

Geralmente usamos gráficos de dispersão para encontrar a correlação entre duas variáveis. Aqui, os gráficos de dispersão são plotados entre Horsepower e Price e podemos ver o gráfico abaixo. Com o gráfico fornecido abaixo, podemos facilmente desenhar uma linha de tendência. Esses recursos fornecem uma boa dispersão de pontos.

In [ ]:
fig, ax = plt.subplots(figsize=(10,6))
ax.scatter(df['HP'], df['Price'])
ax.set_xlabel('HP')
ax.set_ylabel('Price')
plt.show()

# Classificação

In [ ]:
from sklearn.datasets import load_iris

In [ ]:
iris = load_iris()

X, y = iris.data, iris.target

In [ ]:
X[:3, :]

In [ ]:
y[:3]

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
regressao_logistica = LogisticRegression(n_jobs=-1, fit_intercept=False)

regressao_logistica.fit(X, y)

In [ ]:
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay

y_pred_regressao = regressao_logistica.predict(X)

In [ ]:
cm = confusion_matrix(y, y_pred_regressao)

disp = ConfusionMatrixDisplay(confusion_matrix=cm,
                              display_labels=[0, 1, 2])

disp.plot()
plt.show()

# Regressão

In [ ]:
from sklearn.datasets import load_diabetes

In [ ]:
X_diabetes, y_diabetes = load_diabetes(return_X_y=True)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
regressor_linear = LinearRegression()

In [ ]:
regressor_linear.fit(X_diabetes, y_diabetes)

In [ ]:
from sklearn.metrics import mean_squared_error

y_pred_regressao_linear = regressor_linear.predict(X_diabetes)

In [ ]:
mean_squared_error(y_diabetes, y_pred_regressao_linear)

# Clusterização

In [ ]:
from sklearn.cluster import KMeans
from sklearn.datasets import make_blobs

In [ ]:
X, y = make_blobs(n_samples=300, centers=4, cluster_std=0.3, random_state=0)

plt.scatter(X[:,0], X[:,1])

plt.show()

In [ ]:
kmeans = KMeans(n_clusters=4, init='k-means++', n_init=10, max_iter=300, tol=1**-4, random_state=0)

pred_y = kmeans.fit_predict(X)

plt.scatter(X[:,0], X[:,1])
plt.scatter(kmeans.cluster_centers_[:, 0], kmeans.cluster_centers_[:, 1], s=300, c='red')

plt.show()

# Sistema de recomendação

Usaremos o dataset [MovieLens ml-latest-small](https://grouplens.org/datasets/movielens/)

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

In [ ]:
!ls .

In [ ]:
movie = pd.read_csv("movies.csv")

movie.columns

In [ ]:
rating = pd.read_csv("ratings.csv")

rating.columns

In [ ]:
data = pd.merge(movie, rating)

data.head(10)

In [ ]:
data.shape

In [ ]:
data[["title"]].value_counts().sort_values()

In [ ]:
pivot_table = data.pivot_table(index = ["userId"], columns = ["title"], values = "rating")

pivot_table.head(10)

In [ ]:
movie_watched = pivot_table["Matrix, The (1999)"]

similarity_with_other_movies = pivot_table.corrwith(movie_watched)
similarity_with_other_movies = similarity_with_other_movies.sort_values(ascending=False)

similarity_with_other_movies.head(1000)